<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
    <link rel="stylesheet" href="/src/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="flex">
                <li>
                    <a href="user.ejs" target="_blank"> User Diary</a>
                </li>
                <li>
                    <a href="usersForm.ejs" target="_blank">Add User</a>
                </li>
            </ul>
        </nav>
    </header>
<section class="container">

    <h1>Edit Form</h1>
    <form action="/users/<%= user.id %>" method="POST" class="editForm">
        <div>
            <label for="name">Name :</label>
            <input type="text" name="name" placeholder="Name" value=" <%= user.name %>">
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="email" name="email" placeholder="Email" value="<%= user.email %>" />
        </div>
        <div>
            <label for="description">bio :</label>
            <input type="textarea" name="description" placeholder="Describe your self"
                value="<%= user.description %>" />
        </div>
        <div>
            <label for="addUser">Update User :</label>
            <input class="btn btn-pri" type="submit" name="Update user">
        </div>
        <a href="/users">
            <button class="btn btn-back"> Back </button>
        </a>
    </form>

</section>
</body>

</html>